<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blackjack - Account</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<!-- Navigation bar -->
<nav class="navbar">
  <ul class="navbar_ul">
      <li class="navbar_ul_li"><a class="nav_ul_li_a" href="./home.html">Home</a></li>
      <li class="navbar_ul_li"><a class="nav_ul_li_a" href="./account.html">Profile</a></li>
      <li class="navbar_ul_li"><a class="nav_ul_li_a" href="./bet_history.html">Bets History</a></li>
  </ul>
</nav>

  <!-- Account Information -->
  <main class="container">
    <h1>Account Information</h1>
    <div class="account-details">
      <img src="profile-pic.jpeg" alt="Profile Picture">
      <h2>John Doe</h2>
      <p>Email: johndoe@example.com</p>
      <p>Balance: $500</p>
    </div>
  </main>
</body>
</html>
